<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4RGYS5DQKX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4RGYS5DQKX');
</script>

<!-- Twitter conversion tracking base code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='https://static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
twq('config','oflly');
</script>
<!-- End Twitter conversion tracking base code -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NoteScience-Easy Tools Aristry for All</title>
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="assets/img/Group_black.svg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abyssinica+SIL&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike+Angular&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkalami&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri&amp;display=swap">
    <link rel="stylesheet" href="assets/css/audio.css">
    <link rel="stylesheet" href="assets/css/loading.css">
    <link rel="stylesheet" href="assets/css/metro-all.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="pointer-events: none;">
    <div class="row d-xxl-flex align-items-xxl-center small-page-row" style="margin: 0px;margin-top: 10px;border-top: 1px solid var(--bs-white);border-right: none;border-bottom: none;border-left: none;padding: 0px;width: 100%;min-width: 500px;background: rgba(0, 0, 0, 0.2);">
        <div class="col d-flex flex-row justify-content-start">
            <p class="d-flex flex-column justify-content-center small-page-p" style="margin: 0px;font-size: 16px;height: 42px;">{{ current_user.email }}</p>
        </div>
        <div class="col">
            <form class="d-xxl-flex justify-content-xxl-end align-items-xxl-center" action="{% url 'music_app:logout' %}" method="post"><span>{% csrf_token %}</span><button class="btn btn-primary d-flex flex-column justify-content-xxl-center align-items-xxl-end small-page-button" style="pointer-events: auto;" type="submit">Log Out</button></form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://turing.captcha.qcloud.com/TCaptcha.js"></script>
    <script src="assets/js/navbar.js"></script>
    <script src="assets/js/verification.js"></script>
    <script src="assets/js/describe.mjs" type="module"></script>
    <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/record.esm.js"></script>
    <script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.esm.js"></script>
    <script src="assets/js/loading.js"></script>
    <script src="assets/js/record.mjs" type="module"></script>
</body>

</html>