.audio-wrapper {
  display: flex;
  flex-direction: row;
  background: rgba(108, 108, 108, 0.3);
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 8vh;
  width: 90%;
  margin-top: 2vh;
}

@media (max-width: 991px) {
  .audio-wrapper {
    display: flex;
    flex-direction: row;
    background: rgba(108, 108, 108, 0.3);
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 8vh;
    width: 100%;
    margin-top: 2vh;
  }
}

.audio-right-wrapper {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 40%;
}

@media (max-width: 991px) {
  .audio-right-wrapper {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 40%;
  }
}

.audio-left-wrapper {
  height: 5vh;
  width: 5.5vh;
  /*padding-top: 20%;*/
  position: relative;
}

.u-p-title {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5vw;
}

@media (max-width: 991px) {
  .u-p-title {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 4vw;
  }
}

.u-p {
  font-size: 1.5vw;
}

@media (max-width: 991px) {
  .u-p {
    font-size: 4vw;
  }
}

.u-icon-style {
  width: 1.5vw;
}

@media (max-width: 991px) {
  .u-icon-style {
    width: 4vw;
  }
}

.notification-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.2vh;
  height: 1.2vh;
  background-color: red;
  border: 0.2vh solid white;
  border-radius: 50%;
  transform: translate(-30%, 30%);
  z-index: 1;
}

