.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1536px;
  }
}

@media (min-width: 992px) {
  h1 {
    color: var(--bs-white);
    text-align: center;
    font-size: 72px;
    font-weight: 600;
    width: 100%;
  }
}

p {
  /*margin-top: 0;*/
  /*margin-bottom: 1rem;*/
  color: var(--bs-white);
  font-size: 20px;
  text-align: left;
  /*margin-bottom: 15pz;*/
  margin-bottom: 15px;
  margin-top: 60px;
}

@media (min-width: 992px) {
  p {
    /*margin-top: 0;*/
    /*margin-bottom: 1rem;*/
    color: var(--bs-white);
    font-size: 30px;
    text-align: left;
    /*margin-bottom: 15pz;*/
    margin-bottom: 15px;
    margin-top: 60px;
  }
}

#flex-div {
  gap: 11%;
}

#icon-caontainer {
  gap: 10px;
  width: 64px;
}

#flex-div-1 {
  gap: 11%;
}

#icon-caontainer {
}

@media (min-width: 992px) {
  #col-picture {
    background: url("../../assets/img/图片%2012@1x.png") center / cover no-repeat;
  }
}

#col-picture {
  background: url("../../assets/img/图片%2012@1x.png") center / contain no-repeat;
}

#right-icon {
  float: left;
}

.music-footer {
  margin-top: 120px;
}

.icon-container {
  gap: 10px;
  /*margin-left: auto;*/
  width: 10%;
  display: flex;
  justify-content: end;
  flex-direction: row;
}

@media (max-width: 767px) {
  .icon-container {
    /*gap: 20%;*/
    /*margin-left: auto;*/
    width: 100%;
    display: contents;
    /*justify-content: flex-start;*/
  }
}

.-flex-div-class1 {
  gap: 11%;
}

#regist-button {
  font-size: 10px;
  width: 22%;
  background-color: var(--bs-border-color-translucent);
  border-radius: 30px;
  border-color: var(--bs-body-bg);
}

@media (min-width: 992px) {
  #regist-button {
    font-size: 28px;
    width: 22%;
    background-color: var(--bs-border-color-translucent);
    border-radius: 30px;
    border-color: var(--bs-body-bg);
  }
}

#text-input {
  background: #00000000;
  width: 32%;
  height: 50px;
  border-radius: 10px;
  color: var(--bs-white);
  border-style: solid;
  border-color: var(--bs-white);
}

#password-input {
  background: #00000000;
  margin-top: 0px;
  width: 32%;
  height: 50px;
  border-radius: 10px;
  color: var(--bs-white);
  border-style: solid;
  border-color: var(--bs-white);
}

#sign-up-button {
  font-size: 15px;
  height: auto;
  width: auto;
}

#p-hero-middle {
  text-align: center;
  margin-top: 45px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  #p-hero-middle {
    text-align: center;
    font-size: 15px;
    /*margin-top: 25px;*/
    margin-top: 25px;
    font-family: Aleo, serif;
  }
}

#hero-middle {
  gap: 115px;
  ont-family: Aleo, serif;
  height: 100vh;
  width: 100%;
}

@media (max-width: 767px) {
  #hero-middle {
    gap: 20px;
    ont-family: Aleo, serif;
    height: 30vh;
    width: 100%;
  }
}

#hero-navbar {
  max-width: 75%;
  margin: 0;
  margin: 0 auto;
}

.image-col {
}

#aero-top-p {
  margin-top: 6%;
  font-size: 30px;
  margin-bottom: 0px;
  font-family: Aleo, serif;
  text-align: center;
}

@media (max-width: 767px) {
  #aero-top-p {
    margin-top: 15%;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: Aleo, serif;
    text-align: center;
  }
}

.middle-hr {
  color: var(--bs-white);
  opacity: 1;
  height: 1px;
  max-width: 90%;
}

.blog-p-1 {
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 0px;
  color: var(--bs-gray-600);
  text-align: left;
  font-family: Aleo, serif;
}

.blog-p-2 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
  color: var(--bs-white);
  text-align: left;
  font-family: Aleo, serif;
}

.blog-p-3 {
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 0px;
  color: var(--bs-gray-500);
  text-align: left;
  font-family: Aleo, serif;
}

.aero-left-p-1 {
  margin-top: 60px;
  font-size: 30px;
  margin-bottom: 0px;
  color: var(--bs-white);
  text-align: left;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  .aero-left-p-1 {
    margin-top: 15%;
    font-size: 17px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .blog-p-1 {
    margin-top: 0px;
    font-size: 10px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .blog-p-2 {
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .blog-p-3 {
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 0px;
    color: var(--bs-gray-500);
    text-align: left;
    font-family: Aleo, serif;
  }
}

#areo-middle-2-img {
  max-width: 110%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#areo-middle-3-img {
  max-width: 110%;
  height: auto;
  /*max-height: 100%;*/
  /*width: auto;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.image-container {
  position: relative;
  /*position: absolute;*/
  /*top: 0;*/
  /*width: 2px;*/
  /*height: 100%;*/
  /*background-color: var(--bs-white);*/
  /*transform: translateX(-50%);*/
}

.image-container::before {
  /*position: relative;*/
  content: "";
  position: absolute;
  top: 0;
  /*width: 100px;*/
  height: 110%;
  /*background-color: var(--bs-white);*/
  /*transform: translateX(-50%);*/
  left: 50.5%;
  border-left: 3px dashed var(--bs-white);
}

#areo-middle-1-img {
  max-width: 90%;
  height: auto;
  position: relative;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
}

@media (max-width: 767px) {
  #areo-middle-1-img {
    max-width: 90%;
    height: auto;
    position: relative;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
  }
}

.flex-div-class:last-child {
  /*margin-right: 0;*/
  margin-left: auto;
}

.flex-div-class:last-child {
  /*margin-right: 0;*/
  margin-left: auto;
}

.flex-div-item {
  width: 90;
  width: 90%;
  position: relative;
  left: 5%;
  gap: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  .flex-div-item {
    width: 90;
    width: 100%;
    position: static;
    left: 0px;
    /*gap: 20%;*/
    display: contents;
    /*flex-direction: row;*/
    justify-content: flex-start;
  }
}

.footer-hr {
  background: var(--bs-white);
  opacity: 1;
  width: 100%;
  height: 2px;
  margin-top: 0px;
}

.footer-p {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  color: var(--bs-gray-600);
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  .footer-p {
    margin-top: 0px;
    font-size: 13px;
    text-align: left;
    color: var(--bs-gray-600);
    font-family: Aleo, serif;
  }
}

.flex-div-class {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .flex-div-class {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*grid-template-rows: 10px 10px;*/
    gap: 10px;
  }
}

.footer-container {
  gap: 30px;
}

#aero {
  width: 75%;
  margin: 0 auto;
}

.dropdown-toggle::after {
  /*display: inline-block;*/
  /*margin-left: .255em;*/
  /*vertical-align: .255em;*/
  /*content: "";*/
  /*border-top: .3em solid;*/
  /*border-right: .3em solid transparent;*/
  /*border-bottom: 0;*/
  /*border-left: .3em solid transparent;*/
  display: none;
}

.-nav {
}

.nav-twitter-icon:hover {
  /*color: var(--bs-white);*/
  font-size: 30px;
  color: #1DA1F2;
}

@media (max-width: 767px) {
  .nav-twitter-icon:hover {
    /*color: var(--bs-white);*/
    font-size: 25px;
    color: #1DA1F2;
  }
}

.nav-twitter-icon {
  color: var(--bs-white);
  font-size: 30px;
}

@media (max-width: 767px) {
  .nav-twitter-icon {
    color: var(--bs-white);
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .nav-discord-icon:hover {
    /*color: var(--bs-white);*/
    font-size: 25px;
    color: #5865F2;
  }
}

.nav-discord-icon:hover {
  /*color: var(--bs-white);*/
  font-size: 30px;
  color: #5865F2;
}

@media (max-width: 300px) {
  .nav-discord-icon {
    color: var(--bs-white);
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .nav-discord-icon {
    color: var(--bs-white);
    font-size: 25px;
  }
}

.nav-discord-icon {
  color: var(--bs-white);
  font-size: 30px;
}

a {
}

@keyframes dropdown-scroll {
  transform: scaleY(0);
  transform: scaleY(1);
}

.bs-icon-sm.bs-icon-rounded.bs-icon-primary.bs-icon.nav-brand-icon {
  height: 66px;
  width: 46px;
  background: url("../../assets/img/Group%201.svg") center / cover no-repeat;
}

@media (max-width: 767px) {
  .bs-icon-sm.bs-icon-rounded.bs-icon-primary.bs-icon.nav-brand-icon {
    height: 33px;
    width: 23px;
    background: url("../../assets/img/Group%201.svg") center / cover no-repeat;
  }
}

@media (min-width: 768px) {
  .nav-brand-font {
    color: var(--bs-white);
    font-size: 25px;
    font-weight: bold;
  }
}

.nav-brand-font {
  color: var(--bs-white);
  font-size: 26px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .nav-brand-font {
    color: var(--bs-white);
    font-size: 13px;
    font-weight: bold;
  }
}

.nav-collapse-type {
  color: var(--bs-white);
  font-size: 20px;
  margin-right: 40px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  .nav-collapse-type {
    color: var(--bs-white) !important;
    font-size: 17px;
    margin-right: 0px;
    font-family: Aleo, serif;
  }
}

.nav-link:focus, .nav-link:hover {
  color: var(--bs-white);
}

.dropdown-menu-type {
  background: transparent;
  padding: 1px 0px 8px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-color: var(--bs-white);
  border-top: var(--bs-white) 1px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px;
  width: 98px;
  box-sizing: border-box;
  min-width: 0px;
  margin-top: 0px !important;
}

@media (max-width: 767px) {
  .dropdown-menu-type {
    background: transparent;
    /*padding: 1px 0px 8px;*/
    /*margin-top: 0px;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    border-style: solid;
    border-color: var(--bs-white);
    border-top: var(--bs-white) 1px solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px;
    /*width: auto;*/
    box-sizing: border-box;
    /*min-width: 0px;*/
    /*margin: auto;*/
    /*left: auto;*/
    /*right: 0;*/
    /*position: fixed !important;*/
    /*top: 0 !important;*/
    /*right: 0 !important;*/
    /*left: auto !important;*/
    /*width: auto !important;*/
    width: 17%;
    /*margin: auto;*/
    margin-left: auto;
    margin-top: 0 !important;
    /*left: auto !important;*/
    /*right: 0 !important;*/
    /*transform: none !important;*/
  }
}

#heading-font {
  margin-bottom: 0px;
  font-size: 77px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  #heading-font {
    margin-bottom: 0px;
    font-size: 36px;
    font-family: Aleo, serif;
    style="text-align: left;
    /*text-align: left;*/
  }
}

#hero-top {
  height: 38vh;
  width: 100%;
}

@media (max-width: 767px) {
  #hero-top {
    height: 5vh;
    width: 100%;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/index_new2_副本_副本.webp") top / contain no-repeat;
}

@media (max-width: 767px) {
  #hero {
    width: 100%;
    height: 30vh;
    background: url("../../assets/img/index_new2_副本_副本.webp") no-repeat;
    background-position: 50% 70%;
    background-size: contain;
  }
}

.desktop-heading {
}

.desktop-heading {
}

.desktop-heading {
}

.phone-heading {
  display: block;
}

#btn-start {
  color: var(--bs-white);
  background: rgba(0,0,0,0.5);
  border-style: solid;
  border-color: var(--bs-gray-100);
  font-size: 36px;
  width: 43%;
  height: 90px;
  border-radius: 25px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  #btn-start {
    color: var(--bs-white);
    background: rgba(0,0,0,0.5);
    border-style: solid;
    border-color: var(--bs-gray-100);
    font-size: 13px;
    width: 43%;
    height: 45px;
    border-radius: 25px;
    font-family: Aleo, serif;
  }
}

.aboutus-aero-heading {
  /*text-align: center;*/
  font-size: 85px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 100%;
  margin-top: 5%;
}

.blogdetail-aero-heading {
  /*text-align: center;*/
  font-size: 75px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 100%;
  margin-top: 5%;
}

.blog-aero-heading {
  /*text-align: center;*/
  font-size: 75px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 70%;
  margin-top: 5%;
}

.aero-heading {
  /*text-align: center;*/
  font-size: 75px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 100%;
  /*margin-top: 5%;*/
}

@media (max-width: 767px) {
  .aero-heading {
    /*text-align: center;*/
    font-size: 30px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .blog-aero-heading {
    /*text-align: center;*/
    font-size: 30px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .blogdetail-aero-heading {
    /*text-align: center;*/
    font-size: 35px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .aboutus-aero-heading {
    /*text-align: center;*/
    font-size: 30px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

.aero-col-left {
  margin-right: 0px;
  width: 50%;
}

@media (max-width: 767px) {
  .aero-col-left {
    margin-right: auto;
    width: auto;
    margin-top: 15%;
  }
}

.aero-col-right {
  margin-left: 5%;
  width: 45%;
}

@media (max-width: 767px) {
  .aero-col-right {
    margin-left: auto;
    width: auto;
    margin-top: 15%;
  }
}

.aero-col-inside-right {
  height: 100%;
  text-align: left;
}

@media (max-width: 767px) {
  .aero-col-inside-right {
    height: 100%;
    text-align: center;
  }
}

.aero-row {
  margin-top: 15%;
}

@media (max-width: 767px) {
  .aero-row {
    margin-top: 0px;
  }
}

.hero-container {
  width: 75%;
}

@media (max-width: 767px) {
  .hero-container {
    width: 100%;
  }
}

.hero-image {
  margin-top: 12px;
  width: 60%;
  height: auto;
  text-align: left;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .hero-image {
    margin-top: 0px;
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 0px;
  }
}

.blog-aero-img {
  margin-top: 5px;
  /*transform: scale(0.50);*/
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .blog-aero-img {
    margin-top: 5px;
    /*transform: scale(0.50);*/
    width: 90%;
    height: auto;
  }
}

.blogdetail-back-icon {
  margin-right: 0px;
  margin-left: 15px;
  width: 3%;
  height: auto;
}

@media (max-width: 767px) {
  .blogdetail-back-icon {
    margin-right: 0px;
    margin-left: 0px;
    width: 10%;
    height: auto;
  }
}

.blogdetail-areo-img {
  margin-top: 0px;
  width: 100%;
  /*height: 400px;*/
  height: auto;
  text-align: center;
  object-fit: fill;
}

#areo-middle-4-img {
  /*max-width: auto;*/
  height: 90%;
  width: auto;
}

.email-input {
  /*background-image: transparent;*/
  background-color: transparent;
  /*font-style: color:white;*/
  border-style: none;
  color: var(--bs-white);
}

.email-input:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: var(--bs-white);
}

.email-input:invalid {
  background-color: transparent;
  border-color: transparent;
}

.email-input:valid {
  background-color: transparent;
  border-color: transparent;
  color: var(--bs-white);
}

.password-input {
  background-image: transparent;
  background-color: transparent;
  font-style: color:white;
  border-style: none;
}

input[type='email']::-webkit-input-placeholder {
  color: white;
}

input[type='email']::placeholder {
  color: white;
}

