.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1536px;
  }
}

@media (min-width: 992px) {
  h1 {
    color: var(--bs-white);
    text-align: center;
    font-size: 72px;
    font-weight: 600;
    width: 100%;
  }
}

p {
  /*margin-top: 0;*/
  /*margin-bottom: 1rem;*/
  color: var(--bs-white);
  font-size: 20px;
  text-align: left;
  /*margin-bottom: 15pz;*/
  margin-bottom: 15px;
  margin-top: 60px;
}

@media (min-width: 992px) {
  p {
    /*margin-top: 0;*/
    /*margin-bottom: 1rem;*/
    color: var(--bs-white);
    font-size: 30px;
    text-align: left;
    /*margin-bottom: 15pz;*/
    margin-bottom: 15px;
    margin-top: 60px;
  }
}

#flex-div {
  gap: 11%;
}

#icon-caontainer {
  gap: 10px;
  width: 64px;
}

#flex-div-1 {
  gap: 11%;
}

#icon-caontainer {
}

@media (min-width: 992px) {
  #col-picture {
    background: url("../../assets/img/pic_121x.png") center / cover no-repeat;
  }
}

#col-picture {
  background: url("../../assets/img/pic_121x.png") center / contain no-repeat;
}

#right-icon {
  float: left;
}

.music-footer {
  margin-top: 120px;
}

.icon-container {
  gap: 10px;
  /*margin-left: auto;*/
  width: 10%;
  display: flex;
  justify-content: end;
  flex-direction: row;
}

@media (max-width: 767px) {
  .icon-container {
    /*gap: 20%;*/
    /*margin-left: auto;*/
    width: 100%;
    display: contents;
    /*justify-content: flex-start;*/
  }
}

.-flex-div-class1 {
  gap: 11%;
}

#regist-button {
  font-size: 10px;
  width: 22%;
  background-color: var(--bs-border-color-translucent);
  border-radius: 30px;
  border-color: var(--bs-body-bg);
}

@media (min-width: 992px) {
  #regist-button {
    font-size: 28px;
    width: 22%;
    background-color: var(--bs-border-color-translucent);
    border-radius: 30px;
    border-color: var(--bs-body-bg);
  }
}

#text-input {
  background: #00000000;
  width: 32%;
  height: 50px;
  border-radius: 10px;
  color: var(--bs-white);
  border-style: solid;
  border-color: var(--bs-white);
}

#password-input {
  background: #00000000;
  margin-top: 0px;
  width: 32%;
  height: 50px;
  border-radius: 10px;
  color: var(--bs-white);
  border-style: solid;
  border-color: var(--bs-white);
}

#sign-up-button {
  font-size: 15px;
  height: auto;
  width: auto;
}

#p-hero-middle {
  text-align: center;
  margin-top: 45px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  #p-hero-middle {
    text-align: center;
    font-size: 15px;
    /*margin-top: 25px;*/
    margin-top: 25px;
    font-family: Aleo, serif;
  }
}

#hero-middle {
  gap: 115px;
  ont-family: Aleo, serif;
  height: 100vh;
  width: 100%;
}

@media (max-width: 767px) {
  #hero-middle {
    gap: 20px;
    ont-family: Aleo, serif;
    height: 30vh;
    width: 100%;
  }
}

#hero-navbar {
  max-width: 75%;
  margin: 0;
  margin: 0 auto;
}

.image-col {
}

#aero-top-p {
  margin-top: 6%;
  font-size: 30px;
  margin-bottom: 0px;
  font-family: Aleo, serif;
  text-align: center;
}

@media (max-width: 767px) {
  #aero-top-p {
    margin-top: 15%;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: Aleo, serif;
    text-align: center;
  }
}

.middle-hr {
  color: var(--bs-white);
  opacity: 1;
  height: 1px;
  max-width: 90%;
}

.blog-p-1 {
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 0px;
  color: var(--bs-gray-600);
  text-align: left;
  font-family: Aleo, serif;
}

.blog-p-2 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
  color: var(--bs-white);
  text-align: left;
  font-family: Aleo, serif;
}

.blog-p-3 {
  margin-top: 0px;
  font-size: 25px;
  margin-bottom: 0px;
  color: var(--bs-gray-500);
  text-align: left;
  font-family: Aleo, serif;
}

.aero-left-p-1 {
  margin-top: 60px;
  font-size: 30px;
  margin-bottom: 0px;
  color: var(--bs-white);
  text-align: left;
  font-family: Aleo, serif;
}

.aero-left-link-1 {
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
  color: var(--bs-white);
  text-align: left;
  font-family: Aleo, serif;
}

.aero-left-p-small-1 {
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 0px;
  color: var(--bs-gray-500);
  text-align: left;
  font-family: Aleo, serif;
  /*line-height: 2;*/
}

@media (max-width: 767px) {
  .aero-left-p-small-1 {
    margin-top: 0px;
    font-size: 10px;
    margin-bottom: 0px;
    color: var(--bs-gray-500);
    text-align: left;
    font-family: Aleo, serif;
    /*line-height: 2;*/
  }
}

@media (max-width: 767px) {
  .aero-left-p-1 {
    margin-top: 15%;
    font-size: 17px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .aero-left-link-1 {
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .blog-p-1 {
    margin-top: 0px;
    font-size: 10px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .blog-p-2 {
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    color: var(--bs-white);
    text-align: left;
    font-family: Aleo, serif;
  }
}

@media (max-width: 767px) {
  .blog-p-3 {
    margin-top: 0px;
    font-size: 13px;
    margin-bottom: 0px;
    color: var(--bs-gray-500);
    text-align: left;
    font-family: Aleo, serif;
  }
}

#areo-middle-2-img {
  max-width: 100%;
  height: auto;
  /*position: relative;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
}

@media (max-width: 767px) {
  #areo-middle-2-img {
    max-width: 95%;
    height: auto;
    /*position: relative;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
  }
}

#areo-middle-3-img {
  /*max-width: auto;*/
  /*height: 100%;*/
  width: 110%;
  height: 110%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.image-container {
  position: relative;
  /*position: absolute;*/
  /*top: 0;*/
  /*width: 2px;*/
  /*height: 100%;*/
  /*background-color: var(--bs-white);*/
  /*transform: translateX(-50%);*/
}

.image-container::before {
  /*position: relative;*/
  content: "";
  position: absolute;
  top: 0;
  /*width: 100px;*/
  height: 100%;
  /*background-color: var(--bs-white);*/
  /*transform: translateX(-50%);*/
  left: 50.5%;
  border-left: 3px dashed var(--bs-white);
}

#areo-middle-1-img {
  width: 60%;
  height: auto;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  #areo-middle-1-img {
    max-width: 110%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.flex-div-class:last-child {
  /*margin-right: 0;*/
  margin-left: auto;
}

.flex-div-class:last-child {
  /*margin-right: 0;*/
  margin-left: auto;
}

.flex-div-item {
  width: 90;
  width: 90%;
  position: relative;
  left: 5%;
  gap: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 767px) {
  .flex-div-item {
    width: 90;
    width: 100%;
    position: static;
    left: 0px;
    /*gap: 20%;*/
    display: contents;
    /*flex-direction: row;*/
    justify-content: flex-start;
  }
}

.footer-hr {
  background: var(--bs-white);
  opacity: 1;
  width: 100%;
  height: 2px;
  margin-top: 0px;
}

.footer-p {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  color: var(--bs-gray-600);
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  .footer-p {
    margin-top: 0px;
    font-size: 13px;
    text-align: left;
    color: var(--bs-gray-600);
    font-family: Aleo, serif;
  }
}

.flex-div-class {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .flex-div-class {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    display: grid;
    grid-template-columns: 1fr 3fr;
    /*grid-template-rows: 10px 10px;*/
    gap: 10px;
  }
}

.footer-container {
  gap: 30px;
}

.dropdown-toggle::after {
  /*display: inline-block;*/
  /*margin-left: .255em;*/
  /*vertical-align: .255em;*/
  /*content: "";*/
  /*border-top: .3em solid;*/
  /*border-right: .3em solid transparent;*/
  /*border-bottom: 0;*/
  /*border-left: .3em solid transparent;*/
  display: none;
}

.-nav {
}

.nav-twitter-icon:hover {
  /*color: var(--bs-white);*/
  font-size: 30px;
  color: #1DA1F2;
}

@media (max-width: 767px) {
  .nav-twitter-icon:hover {
    /*color: var(--bs-white);*/
    font-size: 25px;
    color: #1DA1F2;
  }
}

.nav-twitter-icon {
  color: var(--bs-white);
  font-size: 30px;
}

@media (max-width: 767px) {
  .nav-twitter-icon {
    color: var(--bs-white);
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .nav-discord-icon:hover {
    /*color: var(--bs-white);*/
    font-size: 25px;
    color: #5865F2;
  }
}

.nav-discord-icon:hover {
  /*color: var(--bs-white);*/
  font-size: 30px;
  color: #5865F2;
}

@media (max-width: 300px) {
  .nav-discord-icon {
    color: var(--bs-white);
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .nav-discord-icon {
    color: var(--bs-white);
    font-size: 25px;
  }
}

.nav-discord-icon {
  color: var(--bs-white);
  font-size: 30px;
}

a {
}

@keyframes dropdown-scroll {
  transform: scaleY(0);
  transform: scaleY(1);
}

.bs-icon-sm.bs-icon-rounded.bs-icon-primary.bs-icon.nav-brand-icon {
  height: 66px;
  width: 46px;
  background: url("../../assets/img/Group1.svg") center / cover no-repeat;
}

@media (max-width: 767px) {
  .bs-icon-sm.bs-icon-rounded.bs-icon-primary.bs-icon.nav-brand-icon {
    height: 33px;
    width: 23px;
    background: url("../../assets/img/Group1.svg") center / cover no-repeat;
  }
}

@media (min-width: 768px) {
  .nav-brand-font {
    color: var(--bs-white);
    font-size: 25px;
    font-weight: bold;
  }
}

.nav-brand-font {
  color: var(--bs-white);
  font-size: 26px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .nav-brand-font {
    color: var(--bs-white);
    font-size: 13px;
    font-weight: bold;
  }
}

.nav-collapse-type {
  color: var(--bs-white);
  font-size: 20px;
  margin-right: 40px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  .nav-collapse-type {
    color: var(--bs-white) !important;
    font-size: 17px;
    margin-right: 0px;
    font-family: Aleo, serif;
  }
}

.nav-link:focus, .nav-link:hover {
  color: var(--bs-white);
}

.dropdown-menu-type {
  background: transparent;
  padding: 1px 0px 8px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-color: var(--bs-white);
  border-top: var(--bs-white) 1px solid;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px;
  width: 98px;
  box-sizing: border-box;
  min-width: 0px;
  margin-top: 0px !important;
}

.dropdown-menu-body {
  background: transparent;
  color: var(--bs-white) !important;
  border-style: none;
  font-size: calc(2vh);
  width: 100%;
}

@media (max-width: 767px) {
  .dropdown-menu-type {
    background: transparent;
    /*padding: 1px 0px 8px;*/
    /*margin-top: 0px;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    border-style: solid;
    border-color: var(--bs-white);
    border-top: var(--bs-white) 1px solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 0px;
    /*width: auto;*/
    box-sizing: border-box;
    /*min-width: 0px;*/
    /*margin: auto;*/
    /*left: auto;*/
    /*right: 0;*/
    /*position: fixed !important;*/
    /*top: 0 !important;*/
    /*right: 0 !important;*/
    /*left: auto !important;*/
    /*width: auto !important;*/
    width: 17%;
    /*margin: auto;*/
    margin-left: auto;
    margin-top: 0 !important;
    /*left: auto !important;*/
    /*right: 0 !important;*/
    /*transform: none !important;*/
  }
}

#heading-font {
  margin-bottom: 0px;
  font-size: 77px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  #heading-font {
    margin-bottom: 0px;
    font-size: 36px;
    font-family: Aleo, serif;
    style="text-align: left;
    /*text-align: left;*/
  }
}

#hero-top {
  height: 38vh;
  width: 100%;
}

@media (max-width: 767px) {
  #hero-top {
    height: 5vh;
    width: 100%;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/index_new2.webp") top / contain no-repeat;
}

@media (max-width: 767px) {
  #hero {
    width: 100%;
    height: 30vh;
    background: url("../../assets/img/index_new2.webp") no-repeat;
    background-position: 50% 70%;
    background-size: contain;
  }
}

.desktop-heading {
}

.desktop-heading {
}

.desktop-heading {
}

.phone-heading {
  display: block;
}

#btn-start {
  color: var(--bs-white);
  background: rgba(0,0,0,0.5);
  border-style: solid;
  border-color: var(--bs-gray-100);
  font-size: 36px;
  width: 43%;
  height: 90px;
  border-radius: 25px;
  font-family: Aleo, serif;
}

@media (max-width: 767px) {
  #btn-start {
    color: var(--bs-white);
    background: rgba(0,0,0,0.5);
    border-style: solid;
    border-color: var(--bs-gray-100);
    font-size: 13px;
    width: 43%;
    height: 45px;
    border-radius: 25px;
    font-family: Aleo, serif;
  }
}

.aboutus-aero-heading {
  /*text-align: center;*/
  font-size: 85px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 100%;
  margin-top: 5%;
}

.blogdetail-aero-heading {
  /*text-align: center;*/
  font-size: 75px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 100%;
  margin-top: 5%;
}

.blog-aero-heading {
  /*text-align: center;*/
  font-size: 75px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 70%;
  margin-top: 5%;
}

.t-section-heading {
  text-align: center;
  font-size: 60px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  /*text-align: left;*/
  font-weight: 100;
  width: 100%;
  margin-top: 0px;
  transform: translateY(-40%);
}

.aero-heading {
  /*text-align: center;*/
  font-size: 75px;
  font-family: Aleo, serif;
  color: var(--bs-white);
  text-align: left;
  font-weight: 600;
  width: 100%;
  /*margin-top: 5%;*/
}

@media (max-width: 767px) {
  .t-section-heading {
    /*text-align: center;*/
    font-size: 20px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .aero-heading {
    /*text-align: center;*/
    font-size: 30px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .blog-aero-heading {
    /*text-align: center;*/
    font-size: 30px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .blogdetail-aero-heading {
    /*text-align: center;*/
    font-size: 35px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .aboutus-aero-heading {
    /*text-align: center;*/
    font-size: 30px;
    font-family: Aleo, serif;
    color: var(--bs-white);
    text-align: left;
    font-weight: 600;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

.aero-col-left {
  margin-right: 2%;
  width: 48%;
}

@media (max-width: 767px) {
  .aero-col-left {
    margin-right: auto;
    width: auto;
    margin-top: 15%;
  }
}

.aero-col-right {
  margin-left: 10%;
  width: 40%;
}

@media (max-width: 767px) {
  .aero-col-right {
    margin-left: auto;
    width: auto;
    margin-top: 15%;
  }
}

.aero-col-inside-right {
  height: 100%;
  text-align: left;
}

@media (max-width: 767px) {
  .aero-col-inside-right {
    height: 100%;
    text-align: center;
  }
}

.aero-row {
  margin-top: 15%;
}

@media (max-width: 767px) {
  .aero-row {
    margin-top: 0px;
  }
}

.hero-container {
  width: 75%;
}

@media (max-width: 767px) {
  .hero-container {
    width: 100%;
  }
}

.hero-image {
  margin-top: 12px;
  width: 60%;
  height: auto;
  text-align: left;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .hero-image {
    margin-top: 0px;
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 0px;
  }
}

.blog-aero-img {
  margin-top: 5px;
  /*transform: scale(0.50);*/
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .blog-aero-img {
    margin-top: 5px;
    /*transform: scale(0.50);*/
    width: 90%;
    height: auto;
  }
}

.blogdetail-back-icon {
  margin-right: 0px;
  margin-left: 15px;
  width: 3%;
  height: auto;
}

@media (max-width: 767px) {
  .blogdetail-back-icon {
    margin-right: 0px;
    margin-left: 0px;
    width: 10%;
    height: auto;
  }
}

.blogdetail-areo-img {
  margin-top: 0px;
  width: 100%;
  /*height: 400px;*/
  height: auto;
  text-align: center;
  object-fit: fill;
}

#areo-middle-4-img {
  /*max-width: auto;*/
  height: auto;
  width: 90%;
}

background-image: transparent;background-color: transparent;font-style: color:white;border-style: none;color: var(--bs-white);padding: 0px;font-size: calc(1rem + 0.7vh);.email-input {
  /*background-image: transparent;*/
  background-color: transparent;
  /*font-style: color:white;*/
  border-style: none;
  color: var(--bs-white);
  padding: 0px;
  font-size: calc(1rem);
}

.email-input {
  /*background-image: transparent;*/
  background-color: transparent;
  /*font-style: color:white;*/
  border-style: none;
  color: var(--bs-white);
  padding: 0px;
  font-size: calc(2vh);
}

.text-input {
  /*background-image: transparent;*/
  background-color: transparent;
  /*font-style: color:white;*/
  border-style: none;
  color: var(--bs-white);
  padding: 0px;
  font-size: calc(2vh);
}

@media (max-width: 767px) {
  .email-input {
    /*background-image: transparent;*/
    background-color: transparent;
    /*font-style: color:white;*/
    border-style: none;
    color: var(--bs-white);
    padding: 0px;
    font-size: calc(2vh);
  }
}

@media (max-width: 767px) {
  .text-input {
    /*background-image: transparent;*/
    background-color: transparent;
    /*font-style: color:white;*/
    border-style: none;
    color: var(--bs-white);
    padding: 0px;
    font-size: calc(2vh);
  }
}

.email-input:focus {
  background-color: transparent;
  /*border-color: transparent;*/
  /*outline: none;*/
  /*border: none;*/
  box-shadow: none;
  color: var(--bs-white);
}

.text-input:focus {
  background-color: transparent;
  /*border-color: transparent;*/
  /*outline: none;*/
  /*border: none;*/
  box-shadow: none;
  color: var(--bs-white);
}

.email-input:invalid {
  background-color: transparent;
  border-color: transparent;
}

.text-input:invalid {
  background-color: transparent;
  border-color: transparent;
}

.text-input:valid {
  background-color: transparent;
  border-color: transparent;
  /*color: var(--bs-white);*/
}

.password-input:focus {
  /*background-image: transparent;*/
  /*background-color: transparent;*/
  /*font-style: color:white;*/
  /*border-style: none;*/
  background-color: transparent;
  /*border-color: transparent;*/
  /*outline: none;*/
  /*border: none;*/
  box-shadow: none;
  color: var(--bs-white);
}

.password-input:valid {
  /*background-image: transparent;*/
  background-color: transparent;
  /*font-style: color:white;*/
  border-style: none;
}

.password-input {
  /*background-image: transparent;*/
  background-color: transparent;
  /*font-style: color:white;*/
  border-style: none;
  color: var(--bs-white);
  padding: 0px;
  font-size: calc(2vh);
}

@media (max-width: 767px) {
  .password-input {
    /*background-image: transparent;*/
    background-color: transparent;
    /*font-style: color:white;*/
    border-style: none;
    color: white;
    padding: 0px;
    font-size: calc(2vh);
  }
}

input[type='email']::-webkit-input-placeholder {
  color: var(--bs-gray-600);
}

input[type='email']::placeholder {
  color: var(--bs-gray-600);
}

input[type="password"]::placeholder {
  color: var(--bs-gray-600);
}

input[type="text"]::placeholder {
  color: var(--bs-gray-600);
}

.section-aero {
  /*height: 70VH;*/
  margin: 0 auto;
  background: transparent;
  /*backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);*/
  z-index: -1;
}

.regist-section-aero {
  height: 84VH;
  margin: 0 auto;
  background: transparent;
  /*backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);*/
  /*z-index: -1;*/
}

@media (max-width: 767px) {
  .section-aero {
    height: 50VH;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .regist-section-aero {
    height: 70VH;
    margin: 0 auto;
  }
}

.div-middle {
  height: 100%;
  width: 100%;
  background: transparent;
}

@media (max-width: 767px) {
  .div-middle {
    height: 100%;
    width: 100%;
    background: transparent;
  }
}

.reg-hero-container {
  width: 38%;
  /*opacity: 0.50;*/
  height: 70%;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: auto;
  margin-bottom: 10%;
  /*flex-grow: 1;*/
}

@media (max-width: 767px) {
  .reg-hero-container {
    width: 100%;
    /*opacity: 0.50;*/
    height: 100%;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    background: transparent;
  }
}

.reg-hero-row {
  width: 65%;
}

@media (max-width: 767px) {
  .reg-hero-row {
    width: 85%;
  }
}

.priacy-link-size {
  font-size: calc(1.3vh);
}

@media (max-width: 767px) {
  .priacy-link-size {
    font-size: calc(1.3vh);
  }
}

.reg-word-size {
  font-size: calc(1.5vh);
}

@media (max-width: 767px) {
  .reg-word-size {
    font-size: calc(1.5vh);
  }
}

.reg-heading-size {
  font-size: 40px;
}

.reg-login-heading-size {
  font-size: 20px;
}

@media (max-width: 767px) {
  .reg-heading-size {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .reg-login-heading-size {
    font-size: 30px;
  }
}

.item {
  flex: 1;
}

.item.special3 {
  flex: 3;
}

.item.special {
  flex: 2;
}

.reg-btn {
  border-radius: 50px;
  width: 90%;
  height: 50%;
  font-size: calc(2vh);
  overflow: hidden;
  line-height: normal;
}

.single-reg-btn {
  border-radius: 50px;
  width: 90%;
  height: 32%;
  font-size: calc(2vh);
  overflow: hidden;
  line-height: normal;
}

.six-reg-btn {
  border-radius: 50px;
  width: 90%;
  height: 48%;
  font-size: calc(2vh);
  overflow: hidden;
  line-height: normal;
}

.five-reg-btn {
  border-radius: 50px;
  width: 90%;
  height: 48%;
  font-size: calc(2vh);
  overflow: hidden;
  line-height: normal;
}

@media (max-width: 767px) {
  .six-reg-btn {
    border-radius: 50px;
    width: 90%;
    height: 50%;
    font-size: calc(2vh);
    overflow: hidden;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .five-reg-btn {
    border-radius: 50px;
    width: 90%;
    height: 51%;
    font-size: calc(2vh);
    overflow: hidden;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .reg-btn {
    border-radius: 50px;
    width: 90%;
    height: 50%;
    font-size: calc(2vh);
    overflow: hidden;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .single-reg-btn {
    border-radius: 50px;
    width: 90%;
    height: 33%;
    font-size: calc(2vh);
    overflow: hidden;
    line-height: normal;
  }
}

.dynamic-font {
  font-size: calc(1rem + 1vw);
}

.tooltip-inner {
  /*max-width: 100%;*/
  /*width: 100%;*/
  /*background-color: transparent;*/
  /*font: red;*/
  /*color: red;*/
  /*margin-left: 10%;*/
  /*margin-top: 50%;*/
  /*text-align: center;*/
  /*display: inline-block;*/
  /*position: fixed;*/
}

#requirements {
  /*margin-top: 10px;*/
}

.invalid {
  /*color: red;*/
}

.valid {
  /*color: green;*/
}

.tooltip {
  /*position: relative;*/
  /*display: inline-block;*/
}

.tooltip .tooltiptext {
  /*visibility: hidden;*/
  /*background-color: white;*/
  /*color: #333;*/
  /*text-align: center;*/
  /*border-radius: 6px;*/
  /*padding: 5px;*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*bottom: 125%;*/
  /*left: 50%;*/
  /*margin-left: -60px;*/
  /*border: 1px solid #ccc;*/
  /*width: 120px;*/
}

.tooltip:hover .tooltiptext {
  /*visibility: visible;*/
}

#aero {
  width: 75%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p::-webkit-scrollbar {
  display: none;
}

.large-text {
  font-size: calc(1rem + 1vw);
}

.back-arrow {
  position: fixed;
  top: 10%;
  left: 10%;
  /*width: calc(1rem + 1vw);*/
  font-size: calc(1rem + 1vw);
  color: var(--bs-white);
}

@media (max-width: 767px) {
  .back-arrow {
    position: fixed;
    top: 9.8%;
    left: 1%;
    /*width: calc(1rem + 1vw);*/
    font-size: calc(0.7rem);
    color: var(--bs-white);
  }
}

.four-form-group {
  height: 32%;
}

@media (max-width: 767px) {
  .four-form-group {
    height: 33%;
  }
}

.p_body {
  background-image: url('../../assets/img/4k_back.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100VH;
  overflow: hidden;
}

.p_content_class {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 0;
  height: 90VH;
}

.p-hero-row {
  width: 60%;
}

@media (max-width: 767px) {
  .p-hero-row {
    width: 75%;
  }
}

.p_content_class::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.f-user-btn {
  font-family: Aleo, serif;
  border-radius: 25px;
  width: 20%;
  height: 30%;
  font-size: calc(1.5vh);
  overflow: hidden;
  line-height: normal;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-style: none;
}

@media (max-width: 767px) {
  .f-user-btn {
    font-family: Aleo, serif;
    border-radius: 25px;
    width: 20%;
    height: 30%;
    font-size: calc(1.2vh);
    overflow: hidden;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-style: none;
  }
}

.user-btn {
  font-family: Aleo, serif;
  border-radius: 50px;
  width: 32%;
  height: 25%;
  font-size: calc(1.5vh);
  overflow: hidden;
  line-height: normal;
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-style: none;
}

@media (max-width: 767px) {
  .user-btn {
    font-family: Aleo, serif;
    border-radius: 50px;
    width: 32%;
    height: 30%;
    font-size: calc(1.5vh);
    overflow: hidden;
    line-height: normal;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-style: none;
    padding: 0px;
  }
}

.small-page-button {
  background: transparent;
  border-style: none;
  font-size: 16px;
  /*height: 43px;*/
  /*width: 20%;*/
}

.small-page-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #0d6efd;
}

.div-with-bg::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.div-with-bg {
  width: 50%;
  height: 0;
  padding-bottom: 22%;
  background-image: url('../../assets/img/pic231x.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.t-img-container {
  height: auto;
  width: 60%;
}

@media (max-width: 767px) {
  .t-img-container {
    height: auto;
    width: 40%;
  }
}

.t-section-para {
  margin-top: 0px;
}

.delete-icon-btn {
  color: var(--bs-white);
  width: auto;
  height: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  color: var(--bs-white);
  display: none;
}

@media (max-width: 767px) {
  .delete-icon-btn {
    color: var(--bs-white);
    width: auto;
    height: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    color: var(--bs-white);
    display: none;
  }
}

.play-icon-btn {
  width: auto;
  height: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  color: var(--bs-white);
  display: none;
}

@media (max-width: 767px) {
  .play-icon-btn {
    width: auto;
    height: 70%;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    color: var(--bs-white);
    display: none;
  }
}

.mic-class {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0px;
  /*margin-top: 1rem;*/
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .mic-class {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px;
    /*margin-top: 1rem;*/
    width: 100%;
    height: 100%;
  }
}

.dropdown-item-body {
  color: var(--bs-white);
  border-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.my-picker .time-wrapper {
  display: inline-flex;
  flex-flow: row nowrap;
  position: relative;
  border: 0px transparent;
  /*color: transparent;*/
  background-color: transparent;
}

.wheel-picker {
  background-color: transparent;
  min-width: 100px;
  width: 50%;
}

